{% extends 'blog/base.html' %}  
{% block content %}

<div class="jumbotron jumbotron-fluid align-middle">
    <h2>Please Login!</h2>
    <h3>(Person should be superuser, check with the site!)</h3>
    {% if form.errors %}
        <p>Your username and pass did't match! Please try again</p>
    {% endif %}
        <form action = "{ url 'login' }" method="POST">
            {% csrf_token %}
            {{ form }}
                <input type="submit" class="btn btn-primary" value="Login">
                <input type="hidden" name='next' value="{{next}}">
            
        </form>
</div>
    
{% endblock content %}
        