.techfont{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.bigbrand{
    font-size: large;
}

.centerstage{
    margin-left: auto;
    margin-bottom: auto;
}